body {
  overflow: hidden;
  min-height: 100vh;
  background: #333;
  cursor: crosshair;
}
h3{
  font-size: 10rem;
  text-align: center;
  margin-top: 20px;
  color: whitesmoke;
}
.bubble {
  position: absolute;
  border-radius: 300px;
  background: rgba(255, 166, 0, .6);
  opacity: 0;
  animation: anim 8s ease forwards;
  filter: hue-rotate(0deg);
}
@keyframes anim{
  to{
    top: -250px;
    left: var(--left);
    opacity: 1;
    filter: hue-rotate(720deg);
  }
}